<h1>Edit Product</h1>



<form method="post" action="/products/<%= @product.id %>">
  <label for="name">Name: </label>
    <input id="name" type="text" name="name" value="<%= @product.name %>">

  <label for="description">Description: </label>
    <input id="description" type="text" name="description" value="<%= @product.description %>">

  <label for="buy_cost">Buying price: </label>
    <input id="buy_cost" type="number" name="buy_cost" value="<%= @product.buy_cost %>">

    <label for="sell_price">Selling price: </label>
      <input id="sell_price" type="number" name="sell_price" value="<%= @product.sell_price %>">

    <label for="supplier_select">Select supplier:</label>
      <select name="supplier_id" id="supplier_select" selected="<%= @product.supplier_id  %>">
        <% @suppliers.each do |supplier| %>
          <% if supplier.id == @product.supplier_id %>
            <option value=<%= supplier.id %> selected><%= supplier.name %></option>
          <% else %>
            <option value=<%= supplier.id %>><%= supplier.name.capitalize %></option>
          <% end %>
        <% end %>
      </select>




    <label for="quantity">Quantity: </label>
      <input id="quantity" type="number" name="quantity" value="<%= @product.quantity %>">
    <input type="submit"  value="Edit product">

</form>
