<h1>Products Inventory</h1>


<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>Quantity</th>
    <th></th>
    <th>Supplier</th>
    <th></th>
    <th>Buying price</th>
    <th></th>
    <th>Selling price</th>
    <th></th>
    <th>Status</th>
  </tr>
  <% for product in @products %>
  <tr>
    <td>
      <a href="/products/<%= product.id %>"><%= product.name %></a></td>
      <td></td>
      <td><%= product.quantity %></td>
      <td></td>
      <td><%= product.find_supplier %></td>
      <td></td>
      <td><%= product.buy_cost %></td>
      <td></td>
      <td><%= product.sell_price %></td>
      <td></td>
      <td><%= product.status %></td>
  </tr>
  <% end %>

</table>




<p>

</p>
