<p>Name:  <%= @product.name %></p>
<p>Description: <%= @product.description %></p>
<p>Buying price: <%= @product.buy_cost %></p>
<p>Selling price: <%= @product.sell_price %></p>

<form class="" action="/products/<%= @product.id %>/delete" method="post">
  <input type="submit"  value="Delete product">

</form>
