<p>Name:  <%= @product.name %></p>
<p>Description: <%= @product.description %></p>
<p>Buying price: <%= @product.buy_cost %></p>
<p>Selling price: <%= @product.sell_price %></p>
<p>Supplier: <%= @product.find_supplier %></p>

<form class="" action="/products/<%= @product.id %>/delete" method="post">
  <input type="submit"  value="Delete product">
  <a href="/products/<%= @product.id%>/edit" class="button">Edit this product</a>

</form>
